.app {
    margin: -20px;
    padding: 10px;

    background-color: black;
}

.title {
    background-image: linear-gradient(black, green, black);
    color: blue;
    padding: 25px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;

    color: lime;
}

#game {
    padding: 25px;

    display: grid;
    grid-template-columns: 1fr;

    color: black;
    background-color: green;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    width: 140px;

    margin: 50px;

    cursor: pointer;
}